*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.header{
    background-color: blue;
    display:flex;
    justify-content: space-between;
}
.header h1{
   width:100%;
   text-align: center;
   font-size:x-large;
   font-weight: 400;
}
.header h2{
    width:auto;
    height:50px;
    
    margin:20px 30px 0 40px;

}
.header h2:hover{
    font-weight: 500;
}
.Header1{
    display:flex;
    justify-content: space-between;
    background-color: rgb(171, 214, 253);
}
.Header1 h2{
    margin: 10px 50px 0 50px;

}
.details{
    display:flex;
    margin:0 5px;
    justify-content: space-between;
}
.details span{
    margin:20px 0 0 10px;
    
}
.details h2{
    display:inline;
    height:40px;
    margin:20px 10px 0 10px;
    border:2px solid black;
    padding:5PX 40px 15PX 40PX;
    border-radius:20PX;

}
.Details{
    display: flex;
    flex-direction: column;
}
.details1{
    margin:0 0 0 10px;
}
.details1 h3{
    
    font-size:large;
    font-weight:600;


}
.details1 h4{
    font-size:medium;
    font-weight: 300;
}